---
layout: default
---

<div class="container">
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ "/" | absolute_url }}">OER</a></li>
        <li class="breadcrumb-item"><a href="{{ "/browse/" | absolute_url }}">Browse</a></li>
        <li class="breadcrumb-item active">{{ page.title | truncatewords: 5 }}</li>
    </ul>

    <div class="row">
        <div class="card">
        <div id="test" class="card-body" ><h3>Sorry, item not found.</h3></div>
        </div>
    </div>

    <div class="back-button">
        <a href="{{ "/browse/" | relative_url }}">❮ Browse OER</a>
    </div>
</div>


<script>
var texts = { 
    {%- for item in site.data.oer-curriculum-map -%}
    {{ item.id | jsonify }} : { "course": {{ item.course | jsonify }}, "title": {{ item.opentext | jsonify }}, "link": {{ item.link | jsonify }}, "notes": {{ item.notes | jsonify }}, "current": {{ item.current-text | jsonify }}, "cost": {{ item.current-cost | jsonify }} }{% unless forloop.last %}, {% endunless %}
    {% endfor %} 
};
var queryString = window.location.search.substring(1).split("=")[1];
var record = texts[queryString];
var info = '<h3>' + record.title + '</h3> <p>Course: ' + record.course + '<br>' + record.notes + '<br>Replaces: ' + record.current + '<br>Saves: ' + record.cost + '</p> <p><a class="btn btn-primary" target="_blank" href="' + record.link + '" role="button">Get OER &raquo;</a></p>';
var infobox = document.getElementById("test");
infobox.innerHTML = info;
</script>